/*About page*/
#about-img {
  width: 100%;
  border-radius: 50%;
  /* background-image: url("../../img/headshot_25x.jpg"); */
  background-position: 30% 50%;
  background-size: cover;
}

#about-img:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}
