/*Hero section*/
#hero {
  background-position: 85% 5%;
  background-size: 30% auto;
}

div.jumbotron {
  background-color: transparent;
}

#title-hi {
  display: block;
}

.jumbotron h1 {
  color: #060558;
}

/*Featured project section*/
#featured-projects {
  background-color: #d8d8d8;
}

#featured-projects .container {
  position: relative;
  top: -35px;
}
