body {
  color: #060558;
}

/*Left-line styles*/
.left-border-title {
  position: relative;
  left: -6px;
}

.left-border-line {
  border-left: 2px solid #060558;
  padding-left: 30px;
}

/*Buttons*/
.btn {
  border-radius: 19px;
  background-color: #060558;
  border: 2px solid #060558;
  color: lightgray;
}

.btn:hover {
  background-color: #33121c;
  border: 2px solid #33121c;
  color: lightgray;
}

/*Links with icons*/
.icon-link {
  color: #060558;
}

.icon-link:hover {
  color: #33121c;
}

.icon-link i {
  margin-right: 0.5em;
}
